.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.notes__appbar{
    align-items: center;
    background-color: $tertiary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}
.notes__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
}
.notes__title-input{
    color: $primary;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}
.notes__textarea{
    border: none;
    color: darkgrey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
}
.notes__title-input, .notes__textarea{
    border: none;
    &:focus{
        outline: none;

    }
}
.notes__image img{
    border-radius: 5px;
    box-shadow: 5px 5px $primary;
    height: 150px;
}