//colors
$primary: #001E3C;
$secondary:#000F1E ;
$tertiary:#DB0A40;
$cuaternary:#0A86CB;
$hoolo:#e2e8f0;
$de: #edf2f7;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

//background
$backgroundinitial: url('../background/background.png');